div.help{
    position:fixed;
    height:100%;
    width:100%;
    left:0%;
}
div#container{
    height:100%;
    width:100%;
}
.head-bar{
}
.test{
    display:grid;
    grid-template-rows: auto;
    grid-template-columns:50% 50%;
    height:100%;
}
.left-side{
    grid-column:1/2;
}
.right-side{
    grid-column: 2/2;
}
img{
    width:100%;
    height: 100%;
    object-fit:fill;
    vertical-align:top;
}